</head>
<body>
  <nav>
    <i class="fa-light fa-plane-departure"></i>
    <a 
      href="/flights/new" <%- title === "ADD FLIGHTS" ? 'class="active"' : "" %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights" <%- title === "ALL FLIGHTS" ? 'class="active"' : "" %>
    >
      ALL FLIGHTS
    </a>
  </nav>